/*
	Aqueous by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		line-height: 1.75em;
		font-size: 11pt;
		letter-spacing: 0;
	}

	#skel-panels-pageWrapper
	{
		padding-top: 38px;
	}

	h2, h3, h4, h5, h6
	{
		font-size: 1.5em;
	}

	section,
	article
	{
		clear: both;
		margin: 2em 0 2em 0 !important;
	}

	section > :first-child,
	article > :first-child
	{
		margin-top: 0 !important;
	}

	section:first-child,
	article:first-child
	{
		margin-top: 0 !important;
	}

	header
	{
		margin-bottom: 2em;
	}

		header h2
		{
			font-size: 2em;
		}

		header .byline
		{
			font-size: 1.2em;
		}

	.container
	{
		padding: 0  1em;
	}

/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

	#titleBar
	{
		background: #4AA0E4 url(images/img01.jpg) repeat;
	}

		#titleBar .title a
		{
			display: block;
			color: #fff;
			text-align: center;
			line-height: 44px;
			letter-spacing: 1px;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 300;
		}

			#titleBar .title span
			{
				display: none;
			}

		#titleBar .toggle
		{
			position: absolute;
			left: 0;
			top: 0;
			width: 80px;
			height: 60px;
		}

			#titleBar .toggle:after
			{
				content: '';
				display: block;
				width: 20px;
				height: 12px;
				position: absolute;
				left: 10px;
				top: 15px;
				background: url('images/toggle.svg') 0px 0px no-repeat;
				opacity: 0.5;
			}

			#titleBar .toggle:active:after
			{
				opacity: 0.75;
			}

	#navPanel
	{
		background: #4AA0E4 url(images/img01.jpg) repeat;
		box-shadow: inset -5px 0 0 0 rgba(0,0,0,0.1);
	}

		#navPanel .link
		{
			display: block;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			height: 44px;
			line-height: 44px;
			border-top: solid 1px;
			border-color: rgba(255,255,255,0.1);
			padding: 0 1em 0 1em;
		}

			#navPanel .link:first-child
			{
				border-top: 0;
			}

			#navPanel .link.depth-0
			{
				color: #fff;
			}

			#navPanel .indent-1 { display: inline-block; width: 1em; }
			#navPanel .indent-2 { display: inline-block; width: 2em; }
			#navPanel .indent-3 { display: inline-block; width: 3em; }
			#navPanel .indent-4 { display: inline-block; width: 4em; }
			#navPanel .indent-5 { display: inline-block; width: 5em; }
			#navPanel .depth-0 { color: #fff; }

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: relative;
		margin: 0;
		padding: 0  0 ;
		background: #FFF;
		color: #fff;
	}

	#banner .container
	{
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#banner .full
	{
		margin: 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		display: none;
	}

	#logo
	{
		display: none;
	}

	#nav
	{
		display: none;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		padding: 3em 1em 3em 1em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		padding: 4em 1em 2em 1em;
	}