@inherits CmsWebViewPage

@{

	ViewBag.Title = CmsPage.Titlebar;
	ViewBag.SiteName = CmsPage.TheSite.SiteName;
}

<title>@CmsPage.Titlebar</title>

<h2>@CmsPage.Heading</h2>

<div>
	@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextCenter)
</div>