<!DOCTYPE html>
@{
	Layout = null;
}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="robots" content="noindex,follow,noarchive" />
	<meta http-equiv="Pragma" content="no-cache" />
	<title>CarrotCake CMS: Under Construction</title>
	@(new CmsSkin() { SelectedColor = Helper.SiteSkin, WindowMode = CmsSkin.SkinMode.Logon })
</head>
<body>
	<div id="banner">
		<h2></h2>
		<h2>&nbsp;</h2>
		<h2 class="banner">UNDER CONSTRUCTION</h2>
		<h2>&nbsp;</h2>
		<h2>To manage your site, visit the <a href="@SiteData.AdminFolderPath">site administration</a>.</h2>
	</div>
</body>
</html>