@{
	Layout = null;
}

<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<head>
	<meta name="robots" content="noindex,follow,noarchive" />
	<title>CarrotCake CMS: Under Construction</title>
	<style type="text/css">
		body {
			background-color: #C1CEB9;
			font-size: 14px;
			font-family: Georgia, Times New Roman, arial, helvetica;
		}

		.banner {
			text-align: center;
			color: #606060;
		}
	</style>
</head>
<body bgcolor="#C1CEB9">

	<div class="banner">
		<h2></h2>
		<h2>
			&nbsp;
		</h2>
		<h2 class="banner">
			UNDER CONSTRUCTION
		</h2>
		<h2>
			&nbsp;
		</h2>
		<h2>
			To manage your site, visit the <a href="@SiteData.AdminFolderPath">site administration</a>.
		</h2>
	</div>
</body>
</html>