<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:mvc-site">
	<sitedetail>
		<siteid>3BD253EA-AC65-4EB6-A4E7-BB097C2255A0</siteid>
		<domname>localhost</domname>
	</sitedetail>
	<sitedetail>
		<siteid>5016177C-4C7D-4F3F-A812-6BEB299C6DAB</siteid>
		<domname>othersite1.local</domname>
	</sitedetail>
	<sitedetail>
		<siteid>D0A2139E-B50E-4E68-98E0-DB6CB129FAF4</siteid>
		<domname>othersite2.local</domname>
	</sitedetail>
	<sitedetail>
		<siteid>3BD253EA-AC65-4EB6-A4E7-BB097C2255A0</siteid>
		<domname>othersite3.local</domname>
	</sitedetail>
</tbl>