<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:mvc-widget-text">
	<plugin>
		<pluginassembly>Carrotware.CMS.UI.Components.EmailEscapeInBody, Carrotware.CMS.UI.Components</pluginassembly>
		<pluginname>Email Escaper</pluginname>
	</plugin>
	<plugin>
		<pluginassembly>Carrotware.CMS.UI.Components.ListInBody, Carrotware.CMS.UI.Components</pluginassembly>
		<pluginname>Site Info</pluginname>
	</plugin>
</tbl>