<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- xsi:schemaLocation and xmlns:xsi cannot exist in a usable web.config flip between the two or add the XSD to your VS schema list -->
		<!--<sectionGroup name="CarrotCakeCMS.Web" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
					 xsi:schemaLocation="CarrotCakeCMSIntellisense ~/Assets/Admin/includes/C3WebConfigSchema.xsd">
			<section name="Settings" type="Carrotware.CMS.Core.CarrotCakeConfig, Carrotware.CMS.Core" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
		</sectionGroup>-->
		<sectionGroup name="CarrotCakeCMS.Web">
			<section name="Settings" type="Carrotware.CMS.Core.CarrotCakeConfig, Carrotware.CMS.Core" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
		</sectionGroup>

		<sectionGroup name="CarrotSecurity">
			<section name="Settings" type="Carrotware.CMS.Security.CarrotSecurityConfig, Carrotware.CMS.Security" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
		</sectionGroup>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="contact" value="contact@example.com" />
	</appSettings>

	<CarrotCakeCMS.Web>
		<Settings>
			<!--<OverrideConfigFile SiteMapping="SiteMapping.config" TextContentProcessors="TextContentProcessors.config"
															TemplatePath = "~/Views/Templates/" PluginPath = "~/Views/" />-->
			<!--<Config SiteID="3BD253EA-aaaa-4eb6-bbbb-BB097C2255A0" AdminFolderPath="/c3-admin/" />-->
			<!--<FileManager BlockedExtensions="config;sln;cs" />-->
			<!--<Options WriteErrorLog="false" OldSiteQuerystring="tag" />-->
			<!--<Config />-->
			<Config SiteID="3BD253EA-AC65-4EB6-A4E7-BB097C2255A0" />

			<!--<Config SiteID="{DE8129F2-971F-43B7-B2B8-D8B64406B96F}" />-->

			<!--
			<FileManager BlockedExtensions="" />
			<Options WriteErrorLog=""  OldSiteQuerystring="" />
			<AdminFooter  ViewPathMain="" ViewPathPopup="" ViewPathPublic="" />
			<OverrideConfigFile  SiteMapping="" TemplatePath="" PluginPath="" />
			-->
			<FileManager />
			<Options WriteErrorLog="true" />
			<AdminFooter />
			<OverrideConfigFile />
		</Settings>
	</CarrotCakeCMS.Web>

	<CarrotSecurity>
		<Settings>
			<UserValidator />
			<PasswordValidator />
			<!--<AdditionalSettings UserLockoutEnabledByDefault="true" LoginPath="/c3-admin/Login" ExpireTimeSpan="1440" ValidateInterval="30" />-->
			<AdditionalSettings ExpireTimeSpan="1440" ValidateInterval="30" />
		</Settings>
	</CarrotSecurity>

	<connectionStrings>
		<add name="CarrotwareCMSConnectionString"
					connectionString="Data Source=.\SQL2008EXPRESS;Initial Catalog=CarrotCakeMVC;Integrated Security=True"
					providerName="System.Data.SqlClient" />
		<!--<add name="CarrotwareCMSConnectionString"
					connectionString="Data Source=.\SQL2008EXPRESS;Initial Catalog=CarrotMVC_CMS;Integrated Security=True"
					providerName="System.Data.SqlClient" />-->

		<!--this is just for some test stuff-->
		<add name="NorthwindConnectionString"
						connectionString="Data Source=.\SQL2008EXPRESS;Initial Catalog=Northwind;Integrated Security=True"
						providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<!--<trust level="Medium" />-->
		<!-- using existing structures for the MS Owin stuff-->
		<authentication mode="None">
			<!--<forms defaultUrl="/c3-admin/Login" timeout="1440" />-->
		</authentication>

		<roleManager enabled="true" />

		<httpRuntime targetFramework="4.5" maxRequestLength="16384" />

		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
	</system.web>

	<system.net>
		<mailSettings>
			<smtp from="web@example.com" deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\Temp" />
			</smtp>
		</mailSettings>
	</system.net>

	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
			<remove name="RoleManager" />
		</modules>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>