<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<pagenames>
		<templatefile>home.cshtml</templatefile>
		<filedesc>Oil Painting (homepage)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>page.cshtml</templatefile>
		<filedesc>Oil Painting (regular page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>list.cshtml</templatefile>
		<filedesc>Oil Painting (index page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>blog.cshtml</templatefile>
		<filedesc>Oil Painting (blog page)</filedesc>
	</pagenames>
</tbl>