/*
	Imagination by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body {
}

body, input, textarea, select {
	font-size: 11pt;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
	padding: 7em 0em 7em 0em;
}

	#banner header h2 {
		font-size: 4em;
	}

	#banner header .byline {
		padding-top: 1em;
		font-size: 1.8em;
		font-weight: 500;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
	padding: 7em 0em;
}

.sidebar header h2 {
	font-size: 1.8em;
}

/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

#extra {
	padding: 7em 0em;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured {
	padding: 6em 0em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
	padding: 7em 0em;
}