/*
	Imagination by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

body, input, textarea, select {
	line-height: 1.75em;
	font-size: 10.5pt;
	letter-spacing: 0;
}

body {
	padding-top: 44px;
}

h2, h3, h4, h5, h6 {
	font-size: 1.5em;
}

section,
article {
	clear: both;
	margin: 2em 0 2em 0 !important;
}

	section > :first-child,
	article > :first-child {
		margin-top: 0 !important;
	}

	section:first-child,
	article:first-child {
		margin-top: 0 !important;
	}

header {
}

	header h2 {
		font-size: 1.8em;
	}

	header .byline {
		font-size: 1.2em;
	}

.container {
	padding: 0em 1em;
}

.button {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 1em;
}

.medium {
	font-size: 1em;
}

/*********************************************************************************/
/* UI                                                                            */
/*********************************************************************************/

#titleBar {
	background: url(images/featured-wrapper-bg.jpg) repeat;
}

	#titleBar .title {
		display: block;
		color: #fff;
		text-align: center;
		line-height: 44px;
	}

	#titleBar .toggle {
		position: absolute;
		left: 0;
		top: 0;
		width: 80px;
		height: 60px;
	}

		#titleBar .toggle:after {
			content: '';
			display: block;
			width: 20px;
			height: 12px;
			position: absolute;
			left: 10px;
			top: 15px;
			background: url('images/toggle.svg') 0px 0px no-repeat;
			opacity: 0.5;
		}

		#titleBar .toggle:active:after {
			opacity: 0.75;
		}

#navPanel {
	background: #111111 url(images/main-wrapper-bg.jpg) repeat;
}

	#navPanel .link {
		display: block;
		color: #888;
		text-decoration: none;
		height: 44px;
		line-height: 44px;
		border-top: solid 1px;
		border-color: rgba(255,255,255,.05);
		padding: 0 1em 0 1em;
	}

		#navPanel .link:first-child {
			border-top: 0;
		}

		#navPanel .link.depth-0 {
			color: #fff;
		}

	#navPanel .indent-1 {
		display: inline-block;
		width: 1em;
	}

	#navPanel .indent-2 {
		display: inline-block;
		width: 2em;
	}

	#navPanel .indent-3 {
		display: inline-block;
		width: 3em;
	}

	#navPanel .indent-4 {
		display: inline-block;
		width: 4em;
	}

	#navPanel .indent-5 {
		display: inline-block;
		width: 5em;
	}

	#navPanel .depth-0 {
		color: #fff;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#heder {
	display: none;
}

#header .container {
	padding: 0;
}

#logo {
	display: none;
}

#nav {
	display: none;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
	padding: 4em 0em 3em 0em;
}

	#banner header .byline {
		padding-top: 1em;
		font-size: 1.2em;
		font-weight: 500;
	}

	#banner .fa:before {
		font-size: 3em;
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

#main {
	padding: 4em 0em;
}

	#main .left {
		text-align: center;
	}

	#main .right {
		text-align: center;
	}

/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

#extra {
	padding: 4em 0em 3em 0em;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

#featured {
	padding: 4em 0em 3em 0em;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
	padding: 4em 0em 3em 0em;
}
