<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<pagenames>
		<templatefile>page.cshtml</templatefile>
		<filedesc>Citrus - Page</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>post.cshtml</templatefile>
		<filedesc>Citrus - Post</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>list.cshtml</templatefile>
		<filedesc>Citrus - List</filedesc>
	</pagenames>
</tbl>