/*
Common CarrotCake CMS stylesheet
*/

a {
	color: #333333;
	text-decoration: none;
}

	a:hover {
		text-decoration: underline;
	}

.pad-content {
	margin-left: 40px;
	margin-right: 40px;
	padding-left: 10px;
	padding-right: 10px;
	min-height: 400px;
}

.imgNoBorder {
	margin: 0;
	padding: 1px;
	border: none;
	border: 0;
}

a .imgNoBorder {
	border-width: 0;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

pre, tt, code, kbd, samp {
	font-family: 'Lucida Console', 'Courier New', Courier, Monaco, monospace, sans-serif;
}

.dateRegion, .ui-datepicker-trigger {
	margin-right: 5px;
}

#jqaccordion .moduleLink {
	margin: 0;
	padding: 0;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-bottom: 2px;
	display: block;
}

.jqradioset label {
	margin-left: 0.5em;
	margin-right: 3em;
}

.icheckbox_flat-grey, .iradio_flat-grey {
	margin: 0 3px 2px 3px;
}

/*  OTHER */

.tableback {
	font-size: 12px;
	font-family: Verdana, Helvetica, Sans-Serif;
	background-color: #ffffff;
}

.caption, .tablecaption {
	font-weight: bold;
}

.table-subblock {
	float: left;
	padding-right: 40px;
}

/* correction for jquery ui */

.ui-widget-header a, .ui-widget-header, .ui-widget p, .ui-widget ul, .ui-widget li, .ui-widget ol, .ui-widget h1, .ui-widget h2, .ui-widget h3, .ui-widget div, .ui-widget span, .ui-widget input, .ui-widget select, .ui-widget button, .ui-widget textarea, .ui-widget a {
	line-height: normal;
	text-align: left;
	font-size: small;
	color: #000000;
	font-family: Lucida Grande, Lucida Sans Arial, sans-serif;
}

#menupath *, .menupath, .ui-widget div, .ui-widget span, .ui-widget input, .ui-widget button, .ui-widget a {
	color: #676F6A;
}

.ui-state-default div, .ui-state-default span {
	color: #676F6A;
}

.ui-state-active div, .ui-state-active span {
	color: #FFFFFF;
}

.ui-autocomplete-loading {
	background: white url('../images/mini-spinner3-6F997D.gif') right center no-repeat;
}

.ui-autocomplete {
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 20px;
}

.ui-front {
	z-index: 100000;
}

.ui-tabs-vertical {
	width: 100%;
}

	.ui-tabs-vertical .ui-tabs-nav {
		padding: .2em .1em .2em .2em;
		float: left;
		width: 12em;
	}

		.ui-tabs-vertical .ui-tabs-nav li {
			clear: left;
			width: 100%;
			border-bottom-width: 1px !important;
			border-right-width: 0 !important;
			margin: 0 -1px .2em 0;
		}

			.ui-tabs-vertical .ui-tabs-nav li a {
				display: block;
			}

			.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
				padding-bottom: 0;
				padding-right: .1em;
				border-right-width: 1px;
			}

	.ui-tabs-vertical .ui-tabs-panel {
		padding: 0.5em;
		float: right;
		display: block;
		min-width: 65%;
		clear: right;
	}

.picker-area {
	padding: 5px;
	display: block;
}

.scroll-container {
	height: 80px;
	padding: 4px;
	width: 99%;
	z-index: 999;
}

.scroll-area {
	height: 75px;
	overflow: auto;
	padding: 2px;
	width: 99%;
}

.selectedModule {
	font-weight: bolder;
}

.pagerlink, .sel-pagerlink {
	float: left;
	margin: 2px 2px 2px 2px;
	padding: 5px 8px 5px 8px;
}

	.pagerlink a {
		margin: 2px 2px 2px 2px;
		padding: 5px 5px 5px 5px;
		color: #676F6A;
	}

.datafooter {
	margin: 2px 2px 2px 2px;
	padding: 2px 2px 2px 2px;
	clear: both;
}

/* fieldset */

fieldset {
	clear: both;
	margin: 1.2em 0;
	padding: 1.2em;
	border: 1px solid #ccc;
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

	fieldset legend label {
		display: block;
		font-size: 16px;
		margin: 0;
		padding: 0;
		font-weight: bold;
		font-family: Georgia, Times New Roman, Serif;
		color: #69775F;
	}

		fieldset legend label.inline {
			display: inline;
		}

table tr td {
	padding-top: 5px;
}

.ui-widget textarea, textarea {
	line-height: normal;
	text-align: left;
	font-size: small;
	font-family: Lucida Grande, Lucida Sans Arial, sans-serif;
	color: #000000;
}

select, textarea, input[type="text"], input[type="password"], input[type="checkbox"], input[type="radio"] {
	padding: 3px;
	margin: 3px;
	margin-top: 5px;
	margin-right: 5px;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #c0c0c0;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	font-size: 1.2em;
	font-family: Lucida Grande, Lucida Sans Arial, Arial, sans-serif;
}

	select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus {
		border-color: #bad9c6;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(200, 220, 200, .6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(210, 230, 215, .6);
	}

.form-control-sm {
	width: 100px;
}

.form-control-md {
	width: 175px;
}

.form-control-lg {
	width: 300px;
}

.form-control-xlg {
	width: 425px;
}

.form-control-xxlg {
	width: 550px;
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="clear"] {
	margin: 4px;
}

.dashboardCell {
	height: 110px;
	width: 110px;
	padding: 10px;
	margin: 10px;
	float: left;
	text-align: center;
}

.clear {
	clear: both;
}

/* cellpadding */
th, td {
	padding: 5px;
}

/* cellspacing */
table {
	border-collapse: separate;
	border-spacing: 5px;
}
/*  cellspacing="5" */

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  cellspacing="0" */

/* valign */
th, td {
	vertical-align: top;
}

/* align (center) */
table.centered {
	margin: 0 auto;
}

.centerItem {
	text-align: center;
	margin: auto;
}

/* validations */

.validationError, .validationExclaim, .validationDelete, .validationCross {
	font-weight: bolder;
	color: #CC0000;
	font-size: large;
	padding: 1px;
	margin: 2px;
}

.validationExclaim {
	color: #CC9900;
}

.validationError {
	color: #CC0000;
}

.validationDelete {
	color: #660066;
}

.validationCross {
	color: #000066;
}

.validationExclaimBox {
	border: thin solid #CC9900 !important;
	background-color: #FFFAE6 !important;
}

.validationErrorBox {
	border: thin solid #CC0000 !important;
	background-color: #FFF2F2 !important;
}

.validationDeleteBox {
	border: thin solid #660066 !important;
	background-color: #FFD2FF !important;
}

.validationCrossBox {
	border: thin solid #000066 !important;
	background-color: #CCCCFF !important;
}

.ui-widget .validation-summary-errors ul, .ui-widget .validation-summary-errors li {
	list-style: none;
	margin-left: 10px;
	display: inline;
	padding: 0;
}

#divCMSModalMsg .validation-summary-errors ul, #divCMSModalMsg .validation-summary-errors li {
	list-style: disc;
	margin-left: 10px;
	display: block;
	padding: 0;
}

.ui-error-alert {
	margin-left: 1em;
	font-size: 11px;
	padding: .5em 1em .5em 20px;
	text-decoration: none;
	position: relative;
}

	.ui-error-alert span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .3em;
		top: 50%;
		margin-top: -8px;
	}

/*
.validationError, .validationExclaim, .validationDelete, .validationCross {
	font-weight: bolder;
	color: #CC0000;
	font-size: large;
	text-indent: -9999px;
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 1px;
	margin: 2px;
}

.validationExclaim {
	background: transparent url("../images/exclamation.png") 0 0 no-repeat;
}
.validationError {
	background: transparent url("../images/error.png") 0 0 no-repeat;
}
.validationDelete {
	background: transparent url("../images/delete.png") 0 0 no-repeat;
}
.validationCross {
	background: transparent url("../images/cross.png") 0 0 no-repeat;
}
*/

/*
drilldown stuff
*/

div.scroll {
	height: 100px;
	width: 340px;
	overflow: auto;
	padding: 2px;
	position: absolute;
	z-index: 999;
}

div.scrollcontainer {
	height: 110px;
	width: 350px;
	padding: 4px;
	position: absolute;
	z-index: 999;
}

div.scrollcontainerhide {
	display: none;
}

div.scrollcontainerheight {
	height: 5px;
	width: 75px;
}

div.menuitems {
	margin-top: 2px;
	margin-left: 2px;
	padding: 4px;
}

.pageNodeDrillDown1 {
	padding: 0;
	margin: 0;
	float: left;
	min-height: 45px;
}

.pageNodeDrillDown2 {
	padding: 0;
	margin: 2px;
	float: left;
}

.pageNodeDrillDown3 {
	padding: 4px;
	margin: 2px;
	float: left;
	margin-right: 5px;
}

.pageNodeDrillDown4 {
	padding: 0;
	margin: 2px;
	position: relative;
	width: 100px;
}

.pageNodeDrillDown5 {
	padding: 0;
	margin: 2px;
	float: left;
	margin-top: 0;
	color: #676F6A;
}

.pageNodeDrillDown6 {
	padding: 2px;
	margin: 0;
	color: #676F6A;
}
