body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.mceItemMedia, .mceItemIframe, .mceItemVideo, .mceItemRealMedia, .mceItemWindowsMedia, .mceItemQuickTime, .mceItemFlash, .mceItemShockWave {
	background-color: #FFFFCC;
	border: thin dashed #cc0000;
}

td, tr, th, p, div {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-weight: bold;
}

A {
	color: #000099;
}

	A:active {
		color: #009900;
	}

	A:visited {
		color: #660066;
	}

blockquote {
	background-color: #EEEEEE;
	border-left: 5px solid #999999;
	color: #000000;
	margin: 10px 20px;
	overflow: auto;
	padding: 5px 20px 5px 20px;
	border-left-color: #666666;
}

tt, pre, code, kbd, samp {
	font-size: 11px;
	font-family: 'Lucida Console', 'Courier New', Courier, Monaco, monospace, sans-serif;
}

/* other */

.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}