body {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.mceItemMedia, .mceItemIframe, .mceItemVideo, .mceItemRealMedia, .mceItemWindowsMedia, .mceItemQuickTime, .mceItemFlash, .mceItemShockWave {
	background-color: #ffffcc;
	border: thin dashed #cc0000;
}

td, tr, th, p, div {
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-weight: bold;
}

a {
	color: #000099;
}

	a:active {
		color: #009900;
	}

	a:visited {
		color: #660066;
	}

blockquote {
	background-color: #eeeeee;
	border-left: 5px solid #999999;
	color: #000000;
	margin: 0.75em 1.5em;
	overflow: auto;
	padding: 0.5em 1em;
	border-left-color: #666666;
}

tt, pre, code, kbd, samp {
	font-size: 11pt;
	font-family: "Lucida Console", "Courier New", Courier, Monaco, monospace;
}

/* other */

.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}