/*

jQuery Ajax Tooltip

http://www.ajaxprojects.com/ajax/tutorialdetails.php?itemid=718
http://rndnext.blogspot.com/2009/02/jquery-ajax-tooltip.html

*/
#dataPopupContainer table, #dataPopupContainer tr, #dataPopupContainer td {
	margin: 0;
	padding: 0;
}

#dataPopupContainer {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 20000;
}

.dataPopupPopup {
}

#dataPopupContent {
	background-color: #FFF;
	width: 425px;
	min-height: 100px;
}

.dataPopupPopup .dataPopupImage {
	margin: 5px;
	margin-right: 15px;
}

.dataPopupPopup .corner {
	width: 19px;
	height: 15px;
}

.dataPopupPopup .topLeft {
	background: url(../images/balloons/balloon_topLeft.png) no-repeat;
}

.dataPopupPopup .bottomLeft {
	background: url(../images/balloons/balloon_bottomLeft.png) no-repeat;
}

.dataPopupPopup .left {
	background: url(../images/balloons/balloon_left.png) repeat-y;
	float: none;
}

.dataPopupPopup .right {
	background: url(../images/balloons/balloon_right.png) repeat-y;
	float: none;
}

.dataPopupPopup .topRight {
	background: url(../images/balloons/balloon_topRight.png) no-repeat;
}

.dataPopupPopup .bottomRight {
	background: url(../images/balloons/balloon_bottomRight.png) no-repeat;
}

.dataPopupPopup .top {
	background-color: #FFFFFF;
	background: url(../images/balloons/balloon_top.png) repeat-x;
}

.dataPopupPopup .center {
	background-color: #FFFFFF;
}

.dataPopupPopup .bottom {
	background: url(../images/balloons/balloon_bottom.png) repeat-x;
	text-align: center;
}