@{
	Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
	<link href="~/Assets/Admin/includes/normalize.css" rel="stylesheet" type="text/css" />
	<title>
		@String.Format("{0} - {1}", SiteData.CarrotCakeCMSVersionMM, ViewBag.Title)
	</title>

	@(new jquerybasic() { SelectedSkin = jquerybasic.jQueryTheme.LightGreen, UseJqueryMigrate = true })

	<link href="~/Assets/iCheck/iCheck.css" rel="stylesheet" />
	<script src="~/Assets/iCheck/icheck.min.js"></script>
	<script src="~/Assets/Admin/Includes/icheck.init.js"></script>

	<link href="~/Assets/Admin/includes/logon.css" rel="stylesheet" type="text/css" />
	<link href="~/Assets/Admin/includes/common.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">

		$(document).ready(function () {
			$("input:button, input:submit, input:reset").button();

			$('.validationError').each(function () {

				if ($(this).text().length > 2) {
					$(this).prop('title', $(this).text());
					$(this).text('**');
				}
			});
		});
	</script>
	<meta name="robots" content="noindex,nofollow,noarchive" />
</head>
<body>
	<div class="wrappedcontent">
		<div class="box-top-center">
			<div class="box-top-left">
			</div>
			<div class="box-top-right">
			</div>
		</div>
		<div class="box-inner">
			<div class="box-right">
				<div class="box-left">
					<div class="wrappedcontent-inner">
						<div style="height: 20px; width: 18px; float: right; border: 1px solid #ffffff; clear: both;">
							<a href="~/">
								<img class="imgNoBorder" src="~/Assets/Admin/Images/house_go.png" alt="Homepage" title="Homepage" />
							</a>
						</div>

						@RenderBody()
					</div>
					<div class="box-buildversion">
						<p>
							&nbsp;
						</p>
						<p>
							@SiteData.CarrotCakeCMSVersion
						</p>
					</div>
					<div class="box-carrot">
					</div>
				</div>
			</div>
		</div>
		<div style="clear: both;">
		</div>
		<div class="box-bottom-center">
			<div class="box-bottom-left">
			</div>
			<div class="box-bottom-right">
			</div>
		</div>
	</div>
</body>
</html>