@{

	Layout = "~/Views/CmsAdmin/_LayoutPublic.cshtml";

	ViewBag.Title = "Forgot Password Confirmation";
}

<div>
	<p>
		Please check your email to reset your password.
	</p>
	<p>
		@Html.ActionLink("Login", "Login")
	</p>
</div>