@{
	Layout = "~/Views/CmsAdmin/_LayoutPublic.cshtml";

	ViewBag.Title = "Forgot Password Confirmation";
}

<div style="margin:10px; padding-left:25px;">
	<p>
		Please check your email to reset your password.
	</p>
	<p>
		<a href="@SiteFilename.LoginURL">Login</a>
	</p>
</div>