@model System.Web.Mvc.HandleErrorInfo

@{
	Layout = "~/Views/CmsAdmin/_LayoutPublic.cshtml";

	ViewBag.Title = "Locked Out";
}

<p>
	This account has been locked out, please try again later.
</p>
<p>
	<input type="button" name="cmdCancel" value="Try Again" id="cmdCancel" tabindex="2" onclick="location.href = './Login';" />
</p>