@{
	Layout = "~/Views/CmsAdmin/_LayoutPublic.cshtml";

	ViewBag.Title = "Reset password confirmation";
}

<div style="margin:10px; padding-left:25px;">
	<p>
		Your password has been reset. Please
		<a href="@SiteFilename.LoginURL">click here to log in</a>.
	</p>
</div>