@{

	Layout = "~/Views/CmsAdmin/_LayoutPublic.cshtml";

	ViewBag.Title = "Reset password confirmation";
}

<div>
	<p>
		Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", RouteConfig.AdminCtrlr, routeValues: null, htmlAttributes: new { id = "loginLink" })
	</p>
	<p>
		@Html.ActionLink("Login", "Login")
	</p>
</div>