/* Set padding to keep content from hitting the edges */
.body-content {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

textarea {
	font-family: Courier New, Courier, monospace;
}
