@inherits CmsWebViewPage

@{
	Layout = "_main.cshtml";

	ViewBag.BodyCssClass = "not-homepage";
}

@section Banner {
	<!-- Banner -->
	<div id="banner">
		<div class="container">
		</div>
	</div>
	<!-- /Banner -->
}

<!-- Main -->
<div id="main">

	<div class="container">

		<div class="row">
			<section>
				<header>
					<h2>@CmsPage.Heading</h2>
					@*<span class="byline">Augue praesent a lacus at urna congue rutrum</span>*@
				</header>

				@CarrotCakeHtml.RenderBody(CarrotCakeHtml.TextFieldZone.TextCenter)

				<div>
					@CarrotCakeHtml.RenderWidget("phCenterBottom")
				</div>
			</section>
		</div>
	</div>
</div>
<!-- /Main -->