@helper DisplayErrorPopupButton() {
	<a class="ui-error-alert ui-state-default ui-corner-all" href="javascript:cmsClickPrettyValidationPopupMVC()">
		<span class="ui-icon ui-icon-newwin"></span>
		Show Errors
	</a>
}