<?xml version="1.0" encoding="utf-8" ?>
<tbls xmlns="urn:schema-carrotcakecms-com:mvc-widget-admin">

	<pluginlist>
		<area>CarrotCake.CMS.Plugins.EventCalendarModule</area>
		<caption>Event Calendar</caption>
	</pluginlist>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.EventCalendarModule</area>
		<menuorder>0</menuorder>
		<action>Database</action>
		<controller>Admin</controller>
		<pluginlabel>Create / Update Database</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.EventCalendarModule</area>
		<menuorder>1</menuorder>
		<action>ProfileList</action>
		<controller>Admin</controller>
		<pluginlabel>Event Profile List</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.EventCalendarModule</area>
		<menuorder>3</menuorder>
		<action>EventList</action>
		<controller>Admin</controller>
		<pluginlabel>Event List</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.EventCalendarModule</area>
		<menuorder>5</menuorder>
		<action>EventDetail</action>
		<controller>Admin</controller>
		<pluginlabel>Add/Edit Event Detail</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.EventCalendarModule</area>
		<menuorder>5</menuorder>
		<action>EventDetailSingle</action>
		<controller>Admin</controller>
		<pluginlabel>Edit Event Detail</pluginlabel>
		<visible>false</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.EventCalendarModule</area>
		<menuorder>6</menuorder>
		<action>CategoryList</action>
		<controller>Admin</controller>
		<pluginlabel>Category List</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.EventCalendarModule</area>
		<menuorder>9</menuorder>
		<action>CategoryDetail</action>
		<controller>Admin</controller>
		<pluginlabel>Add/Edit Category</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>
</tbls>