<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:mvc-widget-public">

	<ctrlfile>
		<filepath>EventCalendarDisplay:CarrotCake.CMS.Plugins.EventCalendarModule.Controllers.HomeController, CarrotCake.CMS.Plugins.EventCalendarModule</filepath>
		<crtldesc>Event Calendar - Detail 1</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>EventCalendarDisplay2:CarrotCake.CMS.Plugins.EventCalendarModule.Controllers.HomeController, CarrotCake.CMS.Plugins.EventCalendarModule</filepath>
		<crtldesc>Event Calendar - Detail 2</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>CalendarUpcoming:CarrotCake.CMS.Plugins.EventCalendarModule.Controllers.HomeController, CarrotCake.CMS.Plugins.EventCalendarModule</filepath>
		<crtldesc>Event Calendar - Upcoming</crtldesc>
	</ctrlfile>
</tbl>