/* iCheck plugin Square skin, grey
----------------------------------- */
.icheckbox_grey-alt4,
.iradio_grey-alt4 {
	display: inline-block;
	*display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 24px;
	height: 24px;
	background: url(grey-alt4.png) no-repeat;
	border: none;
	cursor: pointer;
}

.icheckbox_grey-alt4 {
	background-position: 0 0;
}

	.icheckbox_grey-alt4.hover {
		background-position: -23px 0;
	}

	.icheckbox_grey-alt4.checked {
		background-position: -47px 0;
	}

	.icheckbox_grey-alt4.hover.checked {
		background-position: -71px 0;
	}

	.icheckbox_grey-alt4.disabled {
		background-position: -95px 0;
		cursor: default;
	}

	.icheckbox_grey-alt4.checked.disabled {
		background-position: -119px 0;
	}

.iradio_grey-alt4 {
	background-position: -143px 0;
}

	.iradio_grey-alt4.hover {
		background-position: -167px 0;
	}

	.iradio_grey-alt4.checked {
		background-position: -191px 0;
	}

	.iradio_grey-alt4.hover.checked {
		background-position: -215px 0;
	}

	.iradio_grey-alt4.disabled {
		background-position: -239px 0;
		cursor: default;
	}

	.iradio_grey-alt4.checked.disabled {
		background-position: -263px 0;
	}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
	.icheckbox_grey-alt4,
	.iradio_grey-alt4 {
		background-image: url(grey-alt4@2x.png);
		-webkit-background-size: 288px 24px;
		background-size: 288px 24px;
	}
}