@classic: #6f997d;
@plum: #854085;
@amethystorchid: #926aa6;
@violet: #614791;
@frenchblue: #0072b5;
@rust: #b55a30;
@mosaicblue: #00758f;
@quetzalgreen: #006e6d;
@blueizis: #5b5ea6;
@ultimategray: #939597;
@mauve: #76608a;
@grapecompote: #6b5876;
@steel: #647687;
@blueturquoise: #55b4b0;
@biscaygreen: #56c6a9;
@arcadia: #00a591;
@sugaralmond: #935529;
@sandstone: #c48a69;

@black: #0a0a0a;
@white: #fafafa;
