<?xml version="1.0" encoding="utf-8" ?>
<tbls xmlns="urn:schema-carrotcakecms-com:mvc-widget-admin">
	<pluginlist>
		<area>CarrotCake.CMS.Plugins.LoremIpsum</area>
		<caption>Lorem Ipsum</caption>
	</pluginlist>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.LoremIpsum</area>
		<menuorder>3</menuorder>
		<action>Pages</action>
		<controller>Admin</controller>
		<pluginlabel>Create Pages</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.LoremIpsum</area>
		<menuorder>5</menuorder>
		<action>Posts</action>
		<controller>Admin</controller>
		<pluginlabel>Create Posts</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

</tbls>