<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:mvc-template">
	<pagenames>
		<templatefile>index.cshtml</templatefile>
		<filedesc>Aqueous - Home</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>left-sidebar.cshtml</templatefile>
		<filedesc>Aqueous - Left SB</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>right-sidebar.cshtml</templatefile>
		<filedesc>Aqueous - Right SB</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>no-sidebar.cshtml</templatefile>
		<filedesc>Aqueous - No SB</filedesc>
	</pagenames>

	<pagenames>
		<templatefile>blog.cshtml</templatefile>
		<filedesc>Aqueous - Blog</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>blog-index.cshtml</templatefile>
		<filedesc>Aqueous - Blog Index</filedesc>
	</pagenames>
</tbl>