<?xml version="1.0" encoding="utf-8" ?>
<tbls>
	<pluginlist>
		<area>CarrotCake.CMS.Plugins.CalendarModule</area>
		<caption>Simple Calendar</caption>
	</pluginlist>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.CalendarModule</area>
		<menuorder>0</menuorder>
		<action>CalendarDatabase</action>
		<controller>Admin</controller>
		<pluginlabel>Create / Update Database</pluginlabel>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.CalendarModule</area>
		<menuorder>3</menuorder>
		<action>Index</action>
		<controller>Admin</controller>
		<pluginlabel>List Events</pluginlabel>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.CalendarModule</area>
		<menuorder>5</menuorder>
		<action>CalendarAdminAdd</action>
		<controller>Admin</controller>
		<pluginlabel>Add Event</pluginlabel>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.CalendarModule</area>
		<menuorder>-1</menuorder>
		<action>CalendarAdminAddEdit</action>
		<controller>Admin</controller>
		<pluginlabel>Edit Event</pluginlabel>
		<visible>false</visible>
	</plugincontrols>
</tbls>