<?xml version="1.0" encoding="utf-8" ?>
<tbl>
	<ctrlfile>
		<filepath>CalendarDisplay:CarrotCake.CMS.Plugins.CalendarModule.Controllers.HomeController, CarrotCake.CMS.Plugins.CalendarModule</filepath>
		<crtldesc>Calendar - Display</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>CalendarDisplaySimple:CarrotCake.CMS.Plugins.CalendarModule.Controllers.HomeController, CarrotCake.CMS.Plugins.CalendarModule</filepath>
		<crtldesc>Calendar - Simple Display</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>CalendarUpcoming:CarrotCake.CMS.Plugins.CalendarModule.Controllers.HomeController, CarrotCake.CMS.Plugins.CalendarModule</filepath>
		<crtldesc>Calendar - Upcoming</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>CalendarDateInfo:CarrotCake.CMS.Plugins.CalendarModule.Controllers.HomeController, CarrotCake.CMS.Plugins.CalendarModule</filepath>
		<crtldesc>Calendar - Date Info</crtldesc>
	</ctrlfile>
</tbl>