body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #686868;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #000000;
	margin-bottom: 5px;
}

h1 {
	font-size: 2.2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #424242;
}

	a:hover {
		text-decoration: underline;
		color: #333333;
	}

#wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	clear: both;
	width: 980px;
	height: 300px;
	margin: 0 auto;
	padding: 0;
}

/* Menu */

#menu {
	width: 940px;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 10px;
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 0 0 0 0;
}

#page-bgtop {
	padding: 10px 0;
}

/* Content */

#content {
	float: right;
	width: 590px;
	padding: 20px 0 0 0;
}

.text-danger {
	color: #990000;
}

.searchbox {
	background: #ffffff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAABGdBTUEAAK/INwWK6QAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC42/Ixj3wAAAWlJREFUKM9t0L1LglEUx/Hv82jklPVUlDZEYBAJjVnwEC01hoQUEQ1B9gf0AkJTEeRQg2tLoLSJuPQHBC4Ojb0MJdSQVGCI7957vS2lFP3OeD6cwzmGBnYDZgTbsDSNQj1TiyaytGPCftiRbo3WYkX/p78ck6PO9Gq4A4ydgCPdvFhP4GcExTO3p1tsloNX2Z8JEZFfjzPPON248DG7dy7zRDorbJFiEjcKhULgxldJmXYbOKxmEg8SgUSgUAw1klg/wKmQIBFoFAqNQgpE54pqQYV4RiJRKCSSvApVC21Qz7SWeeAD8Y0+ybkOGrk2qEW1J7pNlkdKlHnk5ixnu9T0xNr3HzTBcNdRPd9I1ZMSHfIczpg+SlzyMPzyBoYGFgNETBurRbXU7V5hDAf3nLSE9/3N0PzO5IY/vsQgBa45f+qbcv7pc5cYoxhfAIqM9FVM9D/l3ejRc9r72jug+Rdo+i3nca9Lo/kCQxOt+BiAd1oAAAAASUVORK5CYII=") no-repeat scroll 4px 4px;
	padding: 0.1em 0.1em 0.1em 25px;
	font-size: 14pt;
	width: 175px;
}

.post {
	margin-bottom: 15px;
}

	.post .title {
		height: 40px;
		margin-bottom: 10px;
		padding: 14px 0 0 0;
		letter-spacing: -.5px;
		color: #777777;
	}

		.post .title a {
			color: #777777;
			border: none;
		}

	.post .entry {
		padding: 0 0 20px 0;
		padding-bottom: 20px;
		text-align: left;
	}

.meta .meta-item {
	line-height: 1.8em;
	padding: 3px;
	margin: 3px;
}

	.meta .meta-item a {
		border: 1px solid #777777;
		padding: 5px;
		margin: 3px;
		line-height: 3em;
	}

.links {
	padding-top: 20px;
	font-size: 14px;
	font-weight: bold;
}

/* contactForm */

#contactForm {
	border: 0;
	margin: 0;
	clear: both;
}

	#contactForm input[type="text"], #contactForm textarea {
		margin: 8px 8px 14px 8px;
		padding: 4px 2px 4px 2px;
		border: solid 1px #424242;
	}

	#contactForm label {
		font-weight: bold;
		margin: 10px 2px 14px 2px;
		padding: 4px 2px 8px 2px;
		border: solid 1px #ffffff;
	}

	#contactForm .text-danger {
		margin-left: 5px;
		padding-left: 5px;
	}

/* Sidebar */

#sidebar {
	float: left;
	width: 290px;
	margin: 0;
	padding: 0 0 0 0;
	color: #787878;
}

	#sidebar ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	#sidebar li {
		margin: 0;
		padding: 0;
	}

		#sidebar li ul {
			margin: 0 0;
			padding-bottom: 30px;
		}

		#sidebar li li {
			line-height: 25px;
			margin: 0 30px 15px;
			border-left: none;
			border-bottom: dotted 1px #737373;
		}

	#sidebar h2 {
		height: 30px;
		padding-left: 30px;
		letter-spacing: -.5px;
		font-size: 1.8em;
	}

	#sidebar p {
		margin: 0 0;
		padding: 0 30px 20px 30px;
		text-align: left;
	}

	#sidebar a {
		border: none;
	}

		#sidebar a:hover {
			text-decoration: underline;
			color: #8A8A8A;
		}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 15px 5px 15px 5px;
}

#calendar caption {
	color: #555555;
	font-size: 1.75em;
	font-weight: 600;
	padding: 5px;
}

#calendar thead {
	color: #333333;
	font-size: 1.25em;
	font-weight: 500;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar-body a {
	font-weight: bolder;
}

#calendar #prev {
	text-align: left;
}

#calendar #next {
	text-align: right;
}

#calendar #prev, #calendar #next {
	font-size: 1.4em;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0 0 15px 0;
	background: #ECECEC;
	border-top: 1px solid #DEDEDE;
	font-family: Arial, Helvetica, sans-serif;
}

	#footer p {
		margin: 0;
		padding-top: 20px;
		line-height: normal;
		font-size: 9px;
		text-transform: uppercase;
		text-align: center;
		color: #A0A0A0;
	}

	#footer a {
		color: #8A8A8A;
	}

/* OTHER */

.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

/* pager */

.index-head {
	font-size: 1.1em;
	font-weight: bold;
}

.readmore {
	font-weight: bold;
}

.post-footer {
	font-size: 1.1em;
	margin: 0.2em 4em 0.4em 4em;
	clear: both;
}

.align-left {
	text-align: left;
	clear: both;
}

.align-right {
	text-align: right;
	clear: both;
}

.pagerfooterlinks {
	line-height: normal;
	color: #ffffff;
}

	.pagerfooterlinks .pagerlink {
		margin: 2px 2px 2px 2px;
		padding: 5px 5px 5px 5px;
		border: 2px solid #333333;
		background-color: #cccccc;
		float: left;
	}

		.pagerfooterlinks .pagerlink a {
			margin: 2px 2px 2px 2px;
			padding: 5px 5px 5px 5px;
			font-weight: bold;
			color: #666666;
		}

			.pagerfooterlinks .pagerlink a.selected {
				color: #ffffff;
				font-weight: bold;
			}

	.pagerfooterlinks .selectedwrap {
		color: #ffffff;
		background-color: #333333;
		font-weight: bold;
	}