<?xml version="1.0" encoding="utf-8" ?>
<tbls xmlns="urn:schema-carrotcakecms-com:mvc-widget-admin">
	<pluginlist>
		<area>Northwind</area>
		<caption>Northwind Sampler</caption>
	</pluginlist>

	<plugincontrols>
		<area>Northwind</area>
		<menuorder>1</menuorder>
		<action>Math</action>
		<controller>Admin</controller>
		<pluginlabel>Math</pluginlabel>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<area>Northwind</area>
		<menuorder>1</menuorder>
		<action>Products</action>
		<controller>Admin</controller>
		<pluginlabel>Product List</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>Northwind</area>
		<menuorder>2</menuorder>
		<action>CreateProduct</action>
		<controller>Admin</controller>
		<pluginlabel>Add Product</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>Northwind</area>
		<menuorder>10</menuorder>
		<action>Employees</action>
		<controller>Admin</controller>
		<pluginlabel>Employee List</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>Northwind</area>
		<menuorder>15</menuorder>
		<action>Suppliers</action>
		<controller>Admin</controller>
		<pluginlabel>Supplier List</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>
</tbls>