<?xml version="1.0" encoding="utf-8" ?>
<tbls>

	<pluginlist>
		<area>Northwind</area>
		<caption>Northwind</caption>
	</pluginlist>

	<plugincontrols>
		<area>Northwind</area>
		<menuorder>1</menuorder>
		<action>Products</action>
		<controller>Admin</controller>
		<pluginlabel>Product List</pluginlabel>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<area>Northwind</area>
		<menuorder>2</menuorder>
		<action>CreateProduct</action>
		<controller>Admin</controller>
		<pluginlabel>Add Product</pluginlabel>
		<visible>true</visible>
	</plugincontrols>


	<plugincontrols>
		<area>Northwind</area>
		<menuorder>10</menuorder>
		<action>Employees</action>
		<controller>Admin</controller>
		<pluginlabel>Employee List</pluginlabel>
		<visible>true</visible>
	</plugincontrols>


	<plugincontrols>
		<area>Northwind</area>
		<menuorder>15</menuorder>
		<action>Suppliers</action>
		<controller>Admin</controller>
		<pluginlabel>Supplier List</pluginlabel>
		<visible>true</visible>
	</plugincontrols>

</tbls>