<?xml version="1.0" encoding="utf-8" ?>
<tbl>

	<ctrlfile>
		<filepath>ProductSearch:Northwind.Controllers.HomeController, Northwind</filepath>
		<crtldesc>Northwind - Prod Search</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>ProductSearch:Northwind.Controllers.HomeController, Northwind:/Home/ProductSearchAlt.cshtml</filepath>
		<crtldesc>Northwind - Prod Search (alt)</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>ProductSearch:Northwind.Controllers.HomeController, Northwind:ProductSearchAlt2</filepath>
		<crtldesc>Northwind - Prod Search (alt2)</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>ProductSearchMulti:Northwind.Controllers.HomeController, Northwind</filepath>
		<crtldesc>Northwind - Prod List M</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>ProductSearchMulti:Northwind.Controllers.HomeController, Northwind:/Home/ProductSearchAltMulti.cshtml</filepath>
		<crtldesc>Northwind - Prod List M (alt)</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>ProductSearchMulti:Northwind.Controllers.HomeController, Northwind:ProductSearchAlt2Multi</filepath>
		<crtldesc>Northwind - Prod List M (alt2)</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>Home/Hello.cshtml</filepath>
		<crtldesc>Northwind - Hello</crtldesc>
	</ctrlfile>

	<ctrlfile>
		<filepath>Home/MultiProdList.cshtml|Northwind.MultiOptions, Northwind</filepath>
		<crtldesc>Northwind - MultiProdList</crtldesc>
	</ctrlfile>
</tbl>