@model Carrotware.Web.UI.Components.PagedData<tblGalleryImage>

@{
	ViewBag.Title = "View";
}
<style>
	#icons li {
		cursor: pointer;
		float: left;
		list-style: outside none none;
		margin: 2px;
		padding: 4px 0;
		position: relative;
	}

	#icons a {
		margin: 4px;
		padding: 4px;
	}
</style>

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "sortTable" })) {
	@Html.AntiForgeryToken()

	var grid = CarrotWeb.CarrotWebGrid<tblGalleryImage>(Model);

	grid.TableAttributes = new { @class = "table table-striped table-fixed-header" };
	grid.THeadAttributes = new { @class = "header" };
	grid.ConfigName(Html.NameFor(x => x));


	grid.AddColumn(x => x.GalleryID)
		.AddColumn(x => x.GalleryImage, new CarrotGridColumn { HeaderText = "Name", Sortable = true })
		.AddColumn(x => x.ImageOrder, new CarrotGridColumn { HeaderText = "Order", Sortable = true });

	grid.OutputHtmlBody();


	<ul id="icons" class="ui-widget ui-helper-clearfix">
		@{
	grid.SetupFooter("li", new { @class = "ui-state-hover ui-corner-all" }, new { @class = "ui-state-default ui-corner-all" });

	grid.OutputFooter();
		}

		@*@foreach (var i in Model.PageNumbers) {
				string clickFn = String.Format("javascript:__clickPage('{0}','{1}')", i, Html.IdFor(m => m.PageNumber));

				using (CarrotWeb.BeginWrappedItem("li", i, Model.PageNumber, new { @class = "ui-state-hover ui-corner-all" }, new { @class = "ui-state-default ui-corner-all" })) {

					using (CarrotWeb.BeginWrappedItem("a", new { @href = clickFn })) {
						@String.Format(" {0} ", i)
					}
				}
			}*@

	</ul>

}
