/*

Dragonfruit Template
http://www.templatemo.com/free-website-templates/411-dragonfruit
http://www.templatemo.com/about
http://creativecommons.org/licenses/by/4.0/

*/

body {
	font-family: 'Century Gothic', sans-serif;
}

.container-fluid {
	max-width: 1600px;
	padding: 0;
	margin: 0;
}

.container_wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
	background: #c0c0c0;
	float: left;
	min-width: 100%;
	clear: both;
	display: inline-block;
}

.rcolor {
	background: #f00;
}

.gcolor {
	background: #0f0;
}

.bcolor {
	background: #00f;
}

h1 {
	margin-top: 60px;
	margin-bottom: 60px;
	text-align: center;
	font: normal normal normal 34px/60px 'Century Gothic', sans-serif;
	color: #3b3b3b;
}

.dragonfruit_logo a:hover {
	text-decoration: none;
}
/*menu*/
#dragonfruit_mobile_menu {
	top: 0;
	width: 250px;
	height: 100%;
	background: #f9f9f9;
	position: fixed;
	z-index: 2500;
	right: -1500px;
	display: none;
	overflow: auto;
}

	#dragonfruit_mobile_menu ul li a {
		text-align: left;
		background: #f15556;
		color: #000;
	}

	#dragonfruit_mobile_menu ul li:hover a {
		background: #c83233;
		color: #fff;
	}

#dragonfruit_banner_menu {
	width: 100%;
	background: #f9f9f9;
	height: 94px;
	border-bottom: 1px solid #f15556;
	position: fixed;
	top: 0;
	z-index: 2000;
}

	#dragonfruit_banner_menu #logo_img {
		max-height: 90px;
		float: left;
	}

	#dragonfruit_banner_menu #logo_text {
		font: normal normal normal 36px/1em 'Century Gothic', sans-serif;
		margin-top: 30px;
		padding-left: 60px;
		text-align: left;
		color: #e35354;
	}

		#dragonfruit_banner_menu #logo_text span {
			color: #9fb038;
		}

	#dragonfruit_banner_menu ul li a,
	#dragonfruit_banner_menu ul li a:focus {
		padding-top: 35px;
		padding-bottom: 35px;
		font: normal normal normal 18px/23px 'Century Gothic', sans-serif;
		color: #000;
		background: repeat-x url("../images/banner_bg.jpg") 0 -94px;
		transition-duration: .5s;
	}

		#dragonfruit_banner_menu ul li a:hover,
		#dragonfruit_banner_menu ul li a.current {
			background-position: 0 0;
			background-color: #f15556;
			color: #ffffff;
		}

	#dragonfruit_banner_menu #mobile_menu {
		padding-top: 25px;
		font-size: 30px;
		float: right;
		color: #e35354;
	}
/*banner slide*/
.banner {
	width: 100%;
	height: 500px;
	margin-top: 94px;
	position: relative;
	overflow: hidden;
}

	.banner ul {
		list-style: none;
		padding: 0;
	}

		.banner ul li {
			float: left;
			height: 500px;
			width: 100%;
		}

	.banner div.slide_caption {
		background: rgba(0, 0, 0, 0.0);
		max-width: 600px;
		margin: 120px auto auto auto;
	}

		.banner div.slide_caption h1,
		.banner div.slide_caption p {
			background: none;
			text-align: center;
			color: #fff;
			line-height: 2em;
			text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
		}

		.banner div.slide_caption a {
			color: #FF6;
		}

		.banner div.slide_caption h1 {
			font-size: 32px;
			margin: 0;
		}

		.banner div.slide_caption p {
			font-size: 16px;
		}

.dragonfruit_banner_slide_01 {
	background: url('../images/dragonfruit_banner_slide_01.jpg');
	background-size: cover;
}

.dragonfruit_banner_slide_02 {
	background: url('../images/dragonfruit_banner_slide_02.jpg');
	background-size: cover;
}

.dragonfruit_banner_slide_03 {
	background: url('../images/dragonfruit_banner_slide_03.jpg');
	background-size: cover;
}

.top_spacer {
	height: 60px;
	clear: both;
}

/*about our organization*/
.block_home {
	background: #ffffff;
	float: left;
	width: 100%;
	min-width: 100%;
	display: inline-block;
}

	.block_home .about_icon img {
		width: 100%;
	}

	.block_home .about_icon h2 {
		text-align: center;
		font: normal normal normal 20px/25px 'Century Gothic', sans-serif;
	}

	.block_home .about_icon .imgwap {
		text-align: center;
		border-radius: 75px;
	}

	.block_home .about_icon p {
		text-align: center;
		font: normal normal normal 14px/23px 'Century Gothic', sans-serif;
	}

	.block_home .mission {
		background-color: #bd3e25;
		color: #f5bd48;
	}

	.block_home .product {
		background-color: #334d5c;
		color: #f5bd48;
	}

	.block_home .testimonial {
		background-color: #efc84a;
		color: #ab4921;
	}

	.block_home .statistic {
		background-color: #334d5c;
		color: #efc84a;
	}

	.block_home #testimonial_text_wap {
		overflow: hidden;
	}

		.block_home #testimonial_text_wap h2 {
			font-size: 24px;
			margin: 0;
			padding: 12px 0;
		}

		.block_home #testimonial_text_wap h3 {
			font-size: 20px;
			margin: 0;
			padding: 12px 0;
		}

		.block_home #testimonial_text_wap img {
			margin-bottom: 20px;
		}

		.block_home #testimonial_text_wap p {
			font-size: 14px;
			line-height: 2em;
		}

	.block_home .testimonial_text {
		width: 100%;
		float: left;
	}

	.block_home .pre_next {
		font-size: 70px;
		top: 50%;
		margin-top: -35px;
		position: absolute;
	}

		.block_home .pre_next a {
			color: #6698b5;
			float: left;
		}

			.block_home .pre_next a:hover {
				color: #334d5c;
			}

	.block_home #testimonial_text_wap h1 {
		font-size: 70px;
		top: 50%;
		margin-top: -35px;
	}

	.block_home .testimonial_top_bottom_spacer {
		padding-bottom: 80px;
	}

.block_blue, .container_wrapper:nth-child(even) .block_alternate {
	width: 100%;
	min-width: 100%;
	background: #6698b5;
	float: left;
	overflow: hidden;
	color: #fff;
	display: inline-block;
}

	.block_blue h1, .container_wrapper:nth-child(even) .block_alternate h1 {
		color: #fff;
	}

.block_white, .container_wrapper:nth-child(odd) .block_alternate {
	width: 100%;
	min-width: 100%;
	background: #ffffff;
	float: left;
	overflow: hidden;
	color: #222;
	display: inline-block;
}

	.block_white h1, .container_wrapper:nth-child(odd) .block_alternate h1 {
		color: #6698b5;
	}

/*about our organization*/
#dragonfruit_about {
	background: #ffffff;
	float: left;
}

	#dragonfruit_about .about_icon img {
		width: 100%;
	}

	#dragonfruit_about .about_icon h2 {
		text-align: center;
		font: normal normal normal 20px/25px 'Century Gothic', sans-serif;
	}

	#dragonfruit_about .about_icon .imgwap {
		text-align: center;
		border-radius: 75px;
	}

	#dragonfruit_about .about_icon p {
		text-align: center;
		font: normal normal normal 14px/23px 'Century Gothic', sans-serif;
	}

	#dragonfruit_about .mission {
		background-color: #bd3e25;
		color: #f5bd48;
	}

	#dragonfruit_about .product {
		background-color: #334d5c;
		color: #f5bd48;
	}

	#dragonfruit_about .testimonial {
		background-color: #efc84a;
		color: #ab4921;
	}

	#dragonfruit_about .statistic {
		background-color: #334d5c;
		color: #efc84a;
	}

	#dragonfruit_about #testimonial_text_wap {
		overflow: hidden;
	}

		#dragonfruit_about #testimonial_text_wap h2 {
			font-size: 24px;
			margin: 0;
			padding: 12px 0;
		}

		#dragonfruit_about #testimonial_text_wap h3 {
			font-size: 20px;
			margin: 0;
			padding: 12px 0;
		}

		#dragonfruit_about #testimonial_text_wap img {
			margin-bottom: 20px;
		}

		#dragonfruit_about #testimonial_text_wap p {
			font-size: 14px;
			line-height: 2em;
		}

	#dragonfruit_about .testimonial_text {
		width: 100%;
		float: left;
	}

	#dragonfruit_about .pre_next {
		font-size: 70px;
		top: 50%;
		margin-top: -35px;
		position: absolute;
	}

		#dragonfruit_about .pre_next a {
			color: #6698b5;
			float: left;
		}

			#dragonfruit_about .pre_next a:hover {
				color: #334d5c;
			}

	#dragonfruit_about #testimonial_text_wap h1 {
		font-size: 70px;
		top: 50%;
		margin-top: -35px;
	}

	#dragonfruit_about .testimonial_top_bottom_spacer {
		padding-bottom: 80px;
	}
/*events*/
#dragonfruit_events {
	float: left;
	overflow: hidden;
}

	#dragonfruit_events h1 {
	}

	#dragonfruit_events .event_box_wap {
		overflow: hidden;
		margin-bottom: 30px;
		cursor: pointer;
		position: relative;
	}

		#dragonfruit_events .event_box_wap .event_box_img {
			position: relative;
			top: 0;
		}

		#dragonfruit_events .event_box_wap .event_box_caption {
			position: relative;
			top: 0;
			padding-bottom: 10px;
			width: 100%;
			border-top: 3px solid #f45154;
			background: #eee;
		}

		#dragonfruit_events .event_box_wap h1,
		#dragonfruit_events .event_box_wap p {
			margin: 0;
			color: #000000;
			text-align: left;
		}

		#dragonfruit_events .event_box_wap p {
			padding: 5px 20px 15px 20px;
		}

		#dragonfruit_events .event_box_wap h1 {
			padding: 20px 20px 20px 20px;
			font-size: 24px;
			line-height: 24px;
		}

.container_wrapper:nth-child(even) .block_alternate #dragonfruit_events .event_box_wap .event_box_caption {
	border-top: 3px solid #3c6f8c;
	background: #fff;
}

/*timeline*/
#dragonfruit_timeline {
}

	#dragonfruit_timeline .inner-container {
		padding: 0;
		max-width: 1600px;
		position: absolute;
		margin: auto;
		margin-bottom: 50px;
		background: url("../images/time_line_bg.jpg") repeat-y center top;
	}

	#dragonfruit_timeline .time_line_wap {
		position: absolute;
		display: none;
	}

	#dragonfruit_timeline .time_line_caption {
		background: #f15556;
		padding: 10px 20px 10px 20px;
		border-radius: 5px;
		height: 40px;
		clear: both;
		color: #fff;
	}

	#dragonfruit_timeline .time_line_paragraph {
		background: #e6e6e6;
		padding: 10px;
		border-radius: 5px;
		width: 100%;
		margin-top: 50px;
		font-family: 'Century Gothic', sans-serif;
	}

		#dragonfruit_timeline .time_line_paragraph a {
			color: #000;
			text-decoration: underline;
		}

	#dragonfruit_timeline .left_timeline {
		margin-left: 30px;
	}

		#dragonfruit_timeline .left_timeline .time_line_caption {
			float: right;
			margin-right: 0;
		}

	#dragonfruit_timeline .right_timeline {
		margin-left: 0;
	}

		#dragonfruit_timeline .right_timeline .time_line_caption {
			float: left;
		}

	#dragonfruit_timeline .time_line_paragraph h1 {
		text-align: left;
		margin: 0;
		font-size: 24px;
		line-height: 30px;
		color: #000;
		padding: 20px 20px 20px 20px;
	}

	#dragonfruit_timeline .time_line_paragraph p {
		padding: 0 20px 20px 20px;
		text-align: left;
		margin: 0;
		font-size: 14px;
		line-height: 2em;
		color: #000;
	}

	#dragonfruit_timeline .left_timer {
		float: right;
		background: url("../images/arrow_left.png") 0 5px;
	}

	#dragonfruit_timeline .right_timer {
		float: left;
		background: url("../images/arrow_right.png") 0 5px;
	}

	#dragonfruit_timeline .left_timer,
	#dragonfruit_timeline .right_timer {
		padding-left: 30px;
		width: 101px;
		position: absolute;
	}

		#dragonfruit_timeline .left_timer span,
		#dragonfruit_timeline .right_timer span {
			border-radius: 20px;
			width: 30px;
			height: 30px;
			background: #e6e6e6;
			text-align: center;
			color: #fff;
			font-size: 24px;
			padding-top: 3px;
			margin-top: 3px;
		}

.container_wrapper:nth-child(even) .block_alternate #dragonfruit_timeline .left_timer {
	background: url("../images/arrow_left2.png") 0 5px;
}

.container_wrapper:nth-child(even) .block_alternate #dragonfruit_timeline .right_timer {
	background: url("../images/arrow_right2.png") 0 5px;
}

.container_wrapper:nth-child(even) .block_alternate #dragonfruit_timeline .time_line_caption {
	background: #0E6AAA;
}

.container_wrapper:nth-child(even) .block_alternate #dragonfruit_timeline .inner-container {
	background: url("../images/time_line_bg2.jpg") repeat-y center top;
}

/*contact*/
#dragonfruit_contact {
	background: #6698b5;
	float: left;
}

	#dragonfruit_contact h1 {
		color: #fff;
	}

	#dragonfruit_contact h2 {
		font-size: 24px;
		color: #fff;
		padding-top: 0;
		padding-bottom: 20px;
	}

#dragonfruit_contact_map {
	width: 100%;
	height: 320px;
	float: left;
	margin-bottom: 40px;
}

#dragonfruit_contact ul li a {
	background: none;
}

	#dragonfruit_contact ul li a i {
		width: 60px;
		padding: 20px 0;
		font-size: 32px;
		color: #fff;
		text-align: center;
	}

#dragonfruit_contact p {
	color: #fff;
	line-height: 30px;
	margin-top: 15px;
}

#dragonfruit_contact input, .contact_input {
	width: 100%;
	height: 50px;
	padding: 10px;
	border: none;
	border: 1px solid #6698b5;
}

#dragonfruit_contact textarea, .contact_textarea {
	width: 100%;
	height: 150px;
	padding: 10px;
	border: 1px solid #6698b5;
}

#dragonfruit_contact button, .contact_button {
	width: 100%;
	height: 50px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	background: #eaeaea;
	color: #000;
}

	#dragonfruit_contact button:hover, .contact_button:hover {
		background: #f4f4f4;
	}
/*dragonfruit_footer*/
.footer {
	width: 100%;
	border-top: 2px solid #507f9a;
	height: 70px;
	background: #447693;
	float: left;
}

	.footer p {
		padding-top: 20px;
		color: #fff;
		text-align: center;
	}

	.footer a {
		color: #fff;
		text-decoration: underline;
	}
/*  Small devices (tablets, 768px and up)  */
@media (max-width: 768px ) {
	#dragonfruit_about .pre_next {
		font-size: 15px;
	}

	#dragonfruit_timeline .right_timer {
		background-position: center center;
	}
}
/*  Medium devices (desktops, 992px and up)  */
@media (max-width: 970px ) {
	#dragonfruit_timeline .right_timer {
		background-position: 100px 5px;
	}

	#dragonfruit_banner_menu #logo_text {
		font: normal normal normal 30px/1em 'Century Gothic', sans-serif;
	}

	#dragonfruit_timeline .inner-container {
		background: url("../images/time_line_bg.jpg") repeat-y 28px 0;
	}

	.container_wrapper:nth-child(even) .block_alternate #dragonfruit_timeline .inner-container {
		background: url("../images/time_line_bg2.jpg") repeat-y 28px 0;
	}
}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px ) {
}