<div id="cms_[[CMS_AREA_NAME]]" class="cmsContentContainer">
	<div class="cmsContentContainerTitle" id="cmsContentContainerHead">
		<div title="[[CMS_AREA_NAME]]" tooltip="[[CMS_AREA_NAME]]" id="cmsContentEditTitle" class="cmsContentContainerTitleText">
			[[CMS_AREA_NAME]]
		</div>
		<div id="cmsEditMenuList" class="cmsContentContainerMenu">
			<ul class="cmsContentContainerMenu cmsMnuParent">
				<li class="cmsWidgetCogIcon">
					<a title="" alt="Modify" class="cmsWidgetBarLink cmsWidgetBarIconCog" id="cmsWidgetBarIcon" href="javascript:void(0);">M</a>
					<ul class="cmsContentContainerMenu cmsMnuChildren">
						<li id="cmsContentAreaLink1_[[CMS_AREA_NAME]]">
							<a title="Edit HTML" alt="Edit HTML" class="cmsWidgetBarLink cmsWidgetBarIconPencil2" id="cmsContentEditLink1"
							   href="javascript:cmsShowEditContentForm('[[cms_zone]]','[[htmltext]]'); ">Edit HTML</a>
						</li>
						<li id="cmsContentAreaLink2_[[CMS_AREA_NAME]]">
							<a title="Edit Text" alt="Edit Text" class="cmsWidgetBarLink cmsWidgetBarIconPencil2" id="cmsContentEditLink2"
							   href="javascript:cmsShowEditContentForm('[[cms_zone]]','[[rawtext]]'); ">Edit Text</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="cmsWidgetControl" id="cmsAdmin_[[CMS_AREA_NAME]]">
		<div>
			[[Þ¤CMS_TEXT_CONTENT¤Þ]]
		</div>
		<div style="clear: both;">
		</div>
	</div>
</div>