<div id="cms-outer_[[CMS_WIDGET_PLACEHOLDER]]" class="cmsWidgetTargetOuterControl">
	<div class="cmsWidgetControlTitle">
		<div class="cmsWidgetControlIDZone">
			<div title="[[CMS_WIDGET_PLACEHOLDER]]" tooltip="[[CMS_WIDGET_PLACEHOLDER]]" id="cmsWidgetContainerName" class="cms-seagreen">
				[[CMS_WIDGET_PLACEHOLDER]]
			</div>
			<div id="cmsEditMenuList" class="cmsWidgetContainerMenu">
				<ul class="cmsWidgetContainerMenu cmsMnuParent">
					<li class="cmsWidgetCogIcon">
						<a title="" alt="Modify" class="cmsWidgetBarLink cmsWidgetBarIconCog" id="cmsWidgetBarIcon" href="javascript:void(0);">M</a>
						<ul class="cmsWidgetContainerMenu cmsMnuChildren">
							<li>
								<a title="Widgets" alt="Widgets" class="cmsWidgetBarLink cmsWidgetBarIconWidget" id="cmsContentEditLink" href="javascript:cmsManageWidgetList('[[CMS_WIDGET_PLACEHOLDER]]')">
									Widgets
								</a>
							</li>
							<li id="liCopy">
								<a title="Copy From" alt="Copy From" class="cmsWidgetBarLink cmsWidgetBarIconCopy" id="A1" href="javascript:cmsCopyWidgetFrom('[[CMS_WIDGET_PLACEHOLDER]]')">
									Copy From
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="cmsTargetArea cmsTargetMove cmsWidgetControl" id="cms_[[CMS_WIDGET_PLACEHOLDER]]">

		[[Þ¤CMS_WIDGET_CONTENT¤Þ]]

		<div style="clear: both;">
			&nbsp;
		</div>
	</div>
</div>
<div style="clear: both;">
</div>