<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:mvc-template">
	<pagenames>
		<templatefile>index.cshtml</templatefile>
		<filedesc>Telephasic - Home</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>left-sidebar.cshtml</templatefile>
		<filedesc>Telephasic - Left SB</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>right-sidebar.cshtml</templatefile>
		<filedesc>Telephasic - Right SB</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>no-sidebar.cshtml</templatefile>
		<filedesc>Telephasic - No SB</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>index-themed.cshtml</templatefile>
		<filedesc>Telephasic - Home (themed)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>left-sidebar-themed.cshtml</templatefile>
		<filedesc>Telephasic - Left SB (themed)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>right-sidebar-themed.cshtml</templatefile>
		<filedesc>Telephasic - Right SB (themed)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>no-sidebar-themed.cshtml</templatefile>
		<filedesc>Telephasic - No SB (themed)</filedesc>
	</pagenames>
</tbl>