<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:mvc-template">
	<pagenames>
		<templatefile>home.cshtml</templatefile>
		<filedesc>Waterdrops (homepage)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>page.cshtml</templatefile>
		<filedesc>Waterdrops (regular page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>list.cshtml</templatefile>
		<filedesc>Waterdrops (index page)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>blog.cshtml</templatefile>
		<filedesc>Waterdrops (blog page)</filedesc>
	</pagenames>
</tbl>