<?xml version="1.0" encoding="utf-8" ?>
<tbls>
	<pluginlist>
		<area>CarrotCake.CMS.Plugins.PhotoGallery</area>
		<caption>Photo Gallery</caption>
	</pluginlist>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.PhotoGallery</area>
		<menuorder>0</menuorder>
		<action>GalleryDatabase</action>
		<controller>Admin</controller>
		<pluginlabel>Create / Update Database</pluginlabel>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.PhotoGallery</area>
		<menuorder>1</menuorder>
		<action>Index</action>
		<controller>Admin</controller>
		<pluginlabel>Gallery List</pluginlabel>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.PhotoGallery</area>
		<menuorder>2</menuorder>
		<action>CreateGallery</action>
		<controller>Admin</controller>
		<pluginlabel>Add Gallery</pluginlabel>
		<visible>true</visible>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.PhotoGallery</area>
		<menuorder>-1</menuorder>
		<action>EditGallery</action>
		<controller>Admin</controller>
		<pluginlabel>Edit Gallery</pluginlabel>
		<visible>false</visible>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.PhotoGallery</area>
		<menuorder>-1</menuorder>
		<action>EditGalleryPhotos</action>
		<controller>Admin</controller>
		<pluginlabel>Edit Gallery Photos</pluginlabel>
		<visible>false</visible>
	</plugincontrols>
</tbls>