<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:mvc-widget-public">
	<ctrlfile>
		<filepath>ShowPrettyPhotoGallery:CarrotCake.CMS.Plugins.PhotoGallery.Controllers.HomeController, CarrotCake.CMS.Plugins.PhotoGallery</filepath>
		<crtldesc>Gallery - PrettyPhoto</crtldesc>
	</ctrlfile>
</tbl>