/* edit notifier*/
#cmsAdminToolbox1 {
  left: 0 !important;
  top: 110px !important;
  line-height: 15px !important;
  text-shadow: 0 0 0 #fff !important;
}
#cmsAdminToolbox2 {
  right: 0 !important;
  bottom: 110px !important;
  line-height: 15px !important;
  text-shadow: 0 0 0 #fff !important;
}
.cmsNavigationBlock {
  line-height: normal !important;
  position: fixed !important;
  width: 8em !important;
  margin-top: -2.5em !important;
  padding: 0px !important;
  border: 2px dotted #555555 !important;
  color: #444444 !important;
  background: #bbe2f9 !important;
  width: 30px !important;
  height: 160px !important;
  z-index: 25000 !important;
  font-size: 14px !important;
  font-family: 'Segoe UI', Tahoma, Lucida Grande, Lucida Sans, Arial, Helvetica, sans-serif !important;
}
.cmsNavBox1 {
  padding-top: 2px !important;
  padding-bottom: 10px !important;
  text-align: center !important;
  line-height: 15px !important;
}
.cmsNavBox2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  text-align: center !important;
  line-height: 15px !important;
}
.cmsNavImageLink {
  margin: 0px !important;
  padding: 0px !important;
  color: #444444 !important;
  padding: 2px !important;
  margin: 2px !important;
  line-height: 10px !important;
}
.cmsNavigationBlock img,
.cmsNavImageLink img {
  margin: 0px !important;
  padding: 0px !important;
  border: 1px solid #bbe2f9 !important;
  line-height: 10px !important;
  background: transparent !important;
}
.cmsFooterLinks {
  color: #444444 !important;
  padding: 5px !important;
  margin: 2px !important;
  font-weight: bold !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  text-decoration: underline !important;
  font-size: 14px !important;
  font-family: 'Segoe UI', Tahoma, Lucida Grande, Lucida Sans, Arial, Helvetica, sans-serif !important;
}
span.cmsFooterLinks,
p.cmsFooterLinks {
  text-decoration: none !important;
}
.cmsFooterP {
  text-shadow: 0 0 0 #fff !important;
  color: #444444 !important;
  line-height: 20px !important;
  text-align: center !important;
  padding: 5px !important;
  margin: 5px !important;
  line-height: 110% !important;
  font-size: 14px !important;
  font-family: 'Segoe UI', Tahoma, Lucida Grande, Lucida Sans, Arial, Helvetica, sans-serif !important;
}
.cmsNavFooterBox {
  text-shadow: 0 0 0 #fff !important;
  line-height: 20px !important;
  text-align: center !important;
  background: #bbe2f9 !important;
  padding: 5px !important;
  margin: 5px !important;
  border: 2px dashed #555555 !important;
  margin-left: 60px !important;
  margin-right: 60px !important;
  font-size: 14px !important;
  font-family: 'Segoe UI', Tahoma, Lucida Grande, Lucida Sans, Arial, Helvetica, sans-serif !important;
}
.cmsNavFooterBox input:focus,
.cmsNavFooterBox select:focus,
.cmsNavFooterBox textarea:focus,
.cmsNavFooterBox input,
.cmsNavFooterBox select,
.cmsNavFooterBox textarea {
  line-height: normal !important;
  border: 1px solid #555555 !important;
  background: #fff !important;
  color: #000 !important;
  float: none !important;
  margin: 2px !important;
  padding: 1px !important;
  width: auto !important;
  font-size: 14px !important;
  font-family: 'Segoe UI', Tahoma, Lucida Grande, Lucida Sans, Arial, Helvetica, sans-serif !important;
}
.cmsNavFooterBox input,
.cmsNavFooterBox select {
  line-height: 2em !important;
  max-width: 450px;
  display: inline-block !important;
}
.cmsNavFooterBox select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  -ms-appearance: menulist;
  appearance: menulist;
}