<?xml version="1.0" encoding="utf-8" ?>
<tbls xmlns="urn:schema-carrotcakecms-com:mvc-widget-admin">
	<pluginlist>
		<area>CarrotCake.CMS.Plugins.FAQ2</area>
		<caption>FAQ</caption>
	</pluginlist>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.FAQ2</area>
		<menuorder>0</menuorder>
		<action>FaqDatabase</action>
		<controller>Admin</controller>
		<pluginlabel>Create / Update Database</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.FAQ2</area>
		<menuorder>1</menuorder>
		<action>Index</action>
		<controller>Admin</controller>
		<pluginlabel>FAQ List</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.FAQ2</area>
		<menuorder>2</menuorder>
		<action>CreateFaq</action>
		<controller>Admin</controller>
		<pluginlabel>Add FAQ</pluginlabel>
		<visible>true</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.FAQ2</area>
		<menuorder>-1</menuorder>
		<action>EditFaq</action>
		<controller>Admin</controller>
		<pluginlabel>Edit FAQ</pluginlabel>
		<visible>false</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.FAQ2</area>
		<menuorder>-1</menuorder>
		<action>EditFaqItem</action>
		<controller>Admin</controller>
		<pluginlabel>Edit FAQ Item</pluginlabel>
		<visible>false</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.FAQ2</area>
		<menuorder>-1</menuorder>
		<action>CreateFaqItem</action>
		<controller>Admin</controller>
		<pluginlabel>Create FAQ Items</pluginlabel>
		<visible>false</visible>
		<usepopup>false</usepopup>
	</plugincontrols>

	<plugincontrols>
		<area>CarrotCake.CMS.Plugins.FAQ2</area>
		<menuorder>-1</menuorder>
		<action>ListFAQItems</action>
		<controller>Admin</controller>
		<pluginlabel>FAQ Item List</pluginlabel>
		<visible>false</visible>
		<usepopup>false</usepopup>
	</plugincontrols>
</tbls>