<?xml version="1.0" encoding="utf-8" ?>
<tbl xmlns="urn:schema-carrotcakecms-com:mvc-widget-public">
	<ctrlfile>
		<filepath>ShowFaqList:CarrotCake.CMS.Plugins.FAQ2.Controllers.HomeController, CarrotCake.CMS.Plugins.FAQ2:FaqList</filepath>
		<crtldesc>FAQ - List</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>ShowFaqTopList:CarrotCake.CMS.Plugins.FAQ2.Controllers.HomeController, CarrotCake.CMS.Plugins.FAQ2:FaqList</filepath>
		<crtldesc>FAQ - List (top)</crtldesc>
	</ctrlfile>
	<ctrlfile>
		<filepath>ShowRandomFaq:CarrotCake.CMS.Plugins.FAQ2.Controllers.HomeController, CarrotCake.CMS.Plugins.FAQ2:FaqItem</filepath>
		<crtldesc>FAQ - Random 1</crtldesc>
	</ctrlfile>
</tbl>