<?xml version="1.0" encoding="utf-8" ?>
<tbl>
	<pagenames>
		<templatefile>home.cshtml</templatefile>
		<filedesc>Dragonfruit (homepage)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>pageblue.cshtml</templatefile>
		<filedesc>Dragonfruit (page - blue)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>pagewhite.cshtml</templatefile>
		<filedesc>Dragonfruit (page - white)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>contact.cshtml</templatefile>
		<filedesc>Dragonfruit (page - contact)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>pagealt.cshtml</templatefile>
		<filedesc>Dragonfruit (page - alt)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>pagelist.cshtml</templatefile>
		<filedesc>Dragonfruit (page - index)</filedesc>
	</pagenames>
	<pagenames>
		<templatefile>pagelist2.cshtml</templatefile>
		<filedesc>Dragonfruit (page - index2)</filedesc>
	</pagenames>
</tbl>