@model IEnumerable<Northwind.Category>

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.CategoryName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Description)
		</th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CategoryName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
		</tr>
	}
</table>