@model Northwind.Models.ProductSearch

<div id="divResults">
	@using (Ajax.BeginForm("ProductSearch", "Home",
	new { area = "Northwind" },
	new AjaxOptions {
		HttpMethod = "POST",
		InsertionMode = InsertionMode.Replace,
		UpdateTargetId = "divResults",
		OnFailure = "__OnAjaxRequestFailure"
	})) {
		@Html.HiddenFor(m => m.AltViewName)

		<table>
			<tr>
				<td>
					@Html.DropDownListFor(m => m.SelectedCat, new SelectList(Model.Options, "CategoryID", "CategoryName", Model.SelectedCat), "[select]", new { @class = "form-control form-select smtext" })
				</td>
				<td>
					<div style="padding:1.5em">
						<input type="submit" class="btn btn-info" value="Submit" />
					</div>
				</td>
			</tr>
		</table>
	}

	<br />
	<div>
		@Html.Partial("Products", Model.Results)
	</div>
</div>